In [320]:
edades = [15, 18, 59, 71]
edades.append(45)
edades.append(55)
edades.append(18)
edades.remove(18)
edades.insert(1, 22)
len(edades)
edades.sort()
# edades.clear()
# edades.pop()


print(" ")
for edad in edades:
    print(f'Edad: {edad}')

Edad: 15
Edad: 18
Edad: 22
Edad: 45
Edad: 55
Edad: 59
Edad: 71

In [321]:
edades.append([70,90])

In [322]:
edades

[15, 18, 22, 45, 55, 59, 71, [70, 90]]

In [323]:
edades.extend([70,90])
edades

[15, 18, 22, 45, 55, 59, 71, [70, 90], 70, 90]

In [324]:
edades.remove([70, 90])
edades

[15, 18, 22, 45, 55, 59, 71, 70, 90]

In [325]:
45 in edades

True

In [326]:
for edad in edades:
    print(f'Edad: {edad + 1}')

Edad: 16
Edad: 19
Edad: 23
Edad: 46
Edad: 56
Edad: 60
Edad: 72
Edad: 71
Edad: 91

In [327]:
edades_proximo_año = []
for edad in edades:
    edades_proximo_año.append(edad+1)
edades_proximo_año

[16, 19, 23, 46, 56, 60, 72, 71, 91]

In [328]:
edades_proximo_año = []
edades_proximo_año = [edad + 2 for edad in edades]
edades_proximo_año

[17, 20, 24, 47, 57, 61, 73, 72, 92]

In [329]:
mayores_de_edad_pa = [edad + 1 for edad in edades if edad > 21]
mayores_de_edad_pa

#  Otros métodos y list comprehension

[23, 46, 56, 60, 72, 71, 91]

Problemas con la mutabilidad de las listas

In [330]:
def analisis_listas(lista=[]):
    print(" ")
    print(id(lista))
    print(" ")
    print(len(lista))
    print(" ")
    lista.append(13)
    return lista

In [331]:
edades = [17, 20, 24, 47, 57, 61, 73, 72, 92]

In [332]:
analisis_listas(edades)

2523331797440

9

[17, 20, 24, 47, 57, 61, 73, 72, 92, 13]

In [333]:
analisis_listas()

2523571430656

0

[13]

In [334]:
def analisis_listas(lista=None):
    print(" ")
    print(id(lista))
    if lista == None:
        lista = list()
        print(id(lista))
    print(" ")
    print(len(lista))
    print(" ")
    lista.append(13)
    return lista

In [335]:
analisis_listas()

140707309972680
2523569858944

0

[13]

Lo que aprendimos en esta aula:

¿Qué es una colección?
Crear una lista.
Comprobar el tipo de lista y el tamaño de la lista.
Mostrar en pantalla el valor según su posición en la lista.
Modificar valores que están dentro de la lista.
Agregar valores al final de la lista.
Recorrer la lista.
Eliminar un elemento de la lista.
Eliminar todos los elementos de la lista.
Comprobar si un elemento está dentro de la lista.
Insertar un elemento en la posición que deseamos.
Utilizar una comprensión de lista.
Realizar filtrados.
Crear una función y establecer un valor predeterminado.
¿Cuáles son los problemas de la mutabilidad?

Listas y objetos propios

In [336]:
class CuentaCorriente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return f'>>>Código: {self.codigo} -- Saldo: {self.saldo}<<<'

In [337]:
cuenta_juan = CuentaCorriente(16)
cuenta_juan.deposita(500.0)
cuenta_zoe = CuentaCorriente(17)
cuenta_zoe.deposita(1000)

In [338]:
cuentas = [cuenta_juan, cuenta_zoe, cuenta_juan]

In [339]:
for cuenta in cuentas: print(cuenta), print(f'El espacio de memoria es: {id(cuenta)}')

>>>Código: 16 -- Saldo: 500.0<<<
El espacio de memoria es: 2523571172496
>>>Código: 17 -- Saldo: 1000<<<
El espacio de memoria es: 2523570991568
>>>Código: 16 -- Saldo: 500.0<<<
El espacio de memoria es: 2523571172496

In [340]:
def deposita_a_todos(cuenta): 
    for cuenta in cuentas: 
        cuenta.deposita(100)
        
cuentas = [cuenta_juan, cuenta_zoe, cuenta_juan]

In [341]:
deposita_a_todos(cuentas)

In [342]:
for cuenta in cuentas: 
    print(cuenta)
    print(f'El espacio de memoria es: {id(cuenta)}')

>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 2523571172496
>>>Código: 17 -- Saldo: 1100<<<
El espacio de memoria es: 2523570991568
>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 2523571172496

In [343]:
cuentas.insert(0,76)
for cuenta in cuentas: 
    print(cuenta)
    print(f'El espacio de memoria es: {id(cuenta)}')

76
El espacio de memoria es: 140707311447176
>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 2523571172496
>>>Código: 17 -- Saldo: 1100<<<
El espacio de memoria es: 2523570991568
>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 2523571172496

Tuplas

In [344]:
juan = ('Juan', 50, 1972)
juan

('Juan', 50, 1972)

In [345]:
zoe = ('Zoe', 7, 2016)
zoe

('Zoe', 7, 2016)

In [346]:
goku = ('Goku', 20, 2003)
goku

('Goku', 20, 2003)

In [347]:
clientes = [juan, zoe, goku]

In [348]:
clientes[1][1]

7

In [349]:
clientes.append(('Tim', 23, 2000))

In [350]:
for cliente in clientes:
    print(cliente)

('Juan', 50, 1972)
('Zoe', 7, 2016)
('Goku', 20, 2003)
('Tim', 23, 2000)

In [351]:
len(clientes[0])

3

In [352]:
range(len(clientes[0]))

range(0, 3)

In [353]:
range(len(clientes))

range(0, 4)

In [354]:
for i in range(len(clientes)):
    print(i, clientes[i][0])

0 Juan
1 Zoe
2 Goku
3 Tim

In [355]:
list(enumerate(clientes, start=1000))

[(1000, ('Juan', 50, 1972)),
 (1001, ('Zoe', 7, 2016)),
 (1002, ('Goku', 20, 2003)),
 (1003, ('Tim', 23, 2000))]

Lo que aprendimos en esta aula:

Crear una clase y métodos.
Crear una lista de referencia para objetos.
Manejar referencias.
¿Qué es una tupla?
Crear una tupla de listas.
Diferencia entre programación orientada a objetos y funcional.
Crear una lista de tuplas.

In [356]:
nuevos_clientes = list(enumerate(clientes, start=1000))

In [357]:
for codigo, informacion in nuevos_clientes:
    print(codigo, informacion[0])

1000 Juan
1001 Zoe
1002 Goku
1003 Tim

In [358]:
for codigo, informacion in nuevos_clientes:
    print(codigo, informacion[1])

1000 50
1001 7
1002 20
1003 23

In [359]:
for codigo, informacion in nuevos_clientes:
    print(codigo, informacion[2])

1000 1972
1001 2016
1002 2003
1003 2000

In [360]:
class Cuenta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def pasa_mes(self):
        self._saldo *=1.005
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [361]:
class CuentaCorriente(Cuenta):
    def pasa_mes(self):
        self._saldo -= 2
        
class CuentaCorriente(Cuenta):
    def pasa_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3   
        
class CuentaInversiones(Cuenta):
   pass

In [362]:
cuenta_juan = CuentaCorriente(16)
cuenta_juan.deposita(500)
cuenta_juan.pasa_mes()
cuenta_zoe = CuentaCorriente(17)
cuenta_zoe.deposita(1000)
cuenta_zoe.pasa_mes()
cuenta_inversiones = CuentaInversiones(18)
cuenta_inversiones.deposita(500)
cuenta_inversiones.pasa_mes()

In [363]:
cuentas = [cuenta_juan, cuenta_zoe, cuenta_inversiones]

In [364]:
for cuenta in cuentas:
    print(cuenta)

>>>Código: 16 -- Saldo: 502.0<<<
>>>Código: 17 -- Saldo: 1007.0<<<
>>>Código: 18 -- Saldo: 502.49999999999994<<<

In [365]:
import array as arr

numeros = arr.array('d',[1.0,2.5]).tolist()
numeros

[1.0, 2.5]

In [366]:
import numpy as np
numeros = np.array([1.0,2.5])
numeros

array([1. , 2.5])

Lo que aprendimos en esta aula:

Concepto de herencia y polimorfismo.
Heredar una clase.
¿Qué es el duck typing?
Crear un array en Python nativo y con el módulo Numpy.
Realizar anotaciones.

In [367]:
class CuentaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __eq__(self, otro):
        return self._codigo == otro._codigo
        
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [368]:
salario_juan = CuentaSalario(15)
salario_zoe = CuentaSalario(15)

In [369]:
salarios = [salario_juan, salario_zoe]
for salario in salarios:
    print(id(salarios))
    print(salario)

2523571368000
>>>Código: 15 -- Saldo: 0<<<
2523571368000
>>>Código: 15 -- Saldo: 0<<<

In [370]:
salario_juan == salario_zoe

True

In [371]:
corriente_juan = CuentaCorriente(15)

In [372]:
corriente_juan == salario_juan

True

In [373]:
class CuentaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __eq__(self, otro):
        if type(otro) != CuentaSalario:
            return False
        return self._codigo == otro._codigo
        
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [374]:
salario_juan = CuentaSalario(15)
salario_zoe = CuentaSalario(15)
corriente_juan = CuentaCorriente(15)

In [375]:
corriente_juan == salario_juan

False

In [376]:
edades

[17, 20, 24, 47, 57, 61, 73, 72, 92, 13]

In [377]:
edades_menor_a_mayor = sorted(edades)

In [378]:
edades_mayor_a_menor = sorted(edades, reverse=True)
edades

[17, 20, 24, 47, 57, 61, 73, 72, 92, 13]

In [379]:
edades.sort()
edades

[13, 17, 20, 24, 47, 57, 61, 72, 73, 92]

In [380]:
edades.sort(reverse=True)
edades

[92, 73, 72, 61, 57, 47, 24, 20, 17, 13]

In [381]:
edades = [15, 87, 37, 45, 56, 32, 49, 37]
for i, edad in enumerate(edades):
    print(i, edad)

0 15
1 87
2 37
3 45
4 56
5 32
6 49
7 37

Lo que aprendimos en esta aula:

Utilizar el método __eq__.
Utilizar buenas prácticas para la comparación.
¿Qué son las enumeraciones?
¿Cómo funciona la función range?
Desempaquetar tuplas.
Utilizar la función len.
Utilizar la función sorted para realizar la ordenación sin cambiar el contenido de la lista original.
Utilizar la función sort para ordenar y modificar la lista original.
Utilizar la función reversed para invertir los valores de una lista sin alterar la lista original.

In [382]:
nombres = ['Juan', 'Zoe', 'Pam']
nombres.sort()
nombres

['Juan', 'Pam', 'Zoe']

In [383]:
for nombre in nombres:
    print(ord(nombre[0]))

74
80
90

In [384]:
class CuentaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __eq__(self, otro):
        if type(otro) != CuentaSalario:
            return False
        return self._codigo == otro._codigo and self._saldo == otro._saldo
    
    def __lt__(self, otro):
        return   self._saldo == otro._saldo
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [385]:
cuenta_juan = CuentaSalario(51)
cuenta_juan.deposita(500)
cuenta_zoe = CuentaSalario(52)
cuenta_zoe.deposita(1000)
cuenta_pam = CuentaSalario(53)
cuenta_pam.deposita(500)

# cuentas = [cuenta_juan, cuenta_zoe, cuenta_pam]
# sorted(cuentas)

In [386]:
from operator import attrgetter

for cuenta in sorted(cuentas, key=attrgetter('_saldo')):
    print(cuenta)

>>>Código: 16 -- Saldo: 502.0<<<
>>>Código: 18 -- Saldo: 502.49999999999994<<<
>>>Código: 17 -- Saldo: 1007.0<<<

In [387]:
cuenta_juan = CuentaSalario(51)
cuenta_juan.deposita(500)
cuenta_zoe = CuentaSalario(52)
cuenta_zoe.deposita(1000)
cuenta_pam = CuentaSalario(50)
cuenta_pam.deposita(500)

cuentas = [cuenta_juan, cuenta_zoe, cuenta_pam]

In [388]:
for cuenta in sorted(cuentas, key=attrgetter('_saldo')):
    print(cuenta)

>>>Código: 51 -- Saldo: 500<<<
>>>Código: 50 -- Saldo: 500<<<
>>>Código: 52 -- Saldo: 1000<<<

In [389]:
class CuentaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __eq__(self, otro):
        if type(otro) != CuentaSalario:
            return False
        return self._codigo == otro._codigo and self._saldo == otro._saldo
    
    def __lt__(self, otro):
        return   self._saldo < otro._saldo
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [390]:
cuenta_juan = CuentaSalario(51)
cuenta_juan.deposita(500)
cuenta_zoe = CuentaSalario(52)
cuenta_zoe.deposita(1000)
cuenta_pam = CuentaSalario(50)
cuenta_pam.deposita(500)

cuentas = [cuenta_juan, cuenta_zoe, cuenta_pam]

In [391]:
sorted(cuentas)

[<__main__.CuentaSalario at 0x24b81b7cc90>,
 <__main__.CuentaSalario at 0x24b909371d0>,
 <__main__.CuentaSalario at 0x24b908d6bd0>]

In [392]:
cuenta_juan < cuenta_zoe

True

In [393]:
for cuenta in sorted(cuentas):
    print(cuenta)

>>>Código: 51 -- Saldo: 500<<<
>>>Código: 50 -- Saldo: 500<<<
>>>Código: 52 -- Saldo: 1000<<<

In [402]:
from functools import total_ordering

@total_ordering
class CuentaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __eq__(self, otro):
        if type(otro) != CuentaSalario:
            return False
        return self._codigo == otro._codigo and self._saldo == otro._saldo
    
    # def __lt__(self, otro):
    #     return   self._saldo < otro._saldo
    
    def __le__(self, otro):
        return   self._saldo <= otro._saldo
        
    def __str__(self):
        return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [395]:
cuenta_juan = CuentaSalario(51)
cuenta_juan.deposita(500)
cuenta_zoe = CuentaSalario(52)
cuenta_zoe.deposita(1000)
cuenta_pam = CuentaSalario(50)
cuenta_pam.deposita(500)

cuentas = [cuenta_juan, cuenta_zoe, cuenta_pam]

In [396]:
sorted(cuentas)

[<__main__.CuentaSalario at 0x24b908edb10>,
 <__main__.CuentaSalario at 0x24b908786d0>,
 <__main__.CuentaSalario at 0x24b81b1b590>]

In [397]:
cuenta_juan <= cuenta_zoe

True

In [398]:
for cuenta in sorted(cuentas):
    print(cuenta)

>>>Código: 50 -- Saldo: 500<<<
>>>Código: 51 -- Saldo: 500<<<
>>>Código: 52 -- Saldo: 1000<<<

In [399]:
cuenta_juan >= cuenta_zoe

False

Lo que aprendimos en esta aula:

Ordenar y comparar objetos.
Usar __lt__: menor que (less than) para comparaciones.
¿Qué es total_ordering y functools?